body {
    background: #151515;
    color: white;
}

p.text {
    margin: 0;
}

.log {
    color: #5D5D5D;
}

.log .PRIVMSG {
    color: white;
    align-items: baseline;
}

.log > div {
    display: flex;
    white-space: nowrap;
}

.log time {
    padding-right: 10px;
}

.log .user {
    width: 100px;
    display: inline-table;
    text-align: right;
    overflow-x: hidden;
    padding-right: 10px;
}

.PRIVMSG img {
    max-height: 100px;
}

.pager a {
    padding: 0 5px;
}

#irc-list {
    display: none;
}

.c0 {color: #B71C1C;}
.c1 {color: #880E4F;}
.c2 {color: #4A148C;}
.c3 {color: #311B92;}
.c4 {color: #1A237E;}
.c5 {color: #0D47A1;}
.c6 {color: #01579B;}
.c7 {color: #006064;}
.c8 {color: #004D40;}
.c9 {color: #1B5E20;}
.c10 {color: #33691E;}
.c11 {color: #827717;}
.c12 {color: #F57F17;}
.c13 {color: #FF6F00;}
.c14 {color: #E65100;}
.c15 {color: #BF360C;}
.c16 {color: #3E2723;}
.c17 {color: #263238;}

.PRIVMSG .c0 {color: #D32F2F;}
.PRIVMSG .c1 {color: #C2185B;}
.PRIVMSG .c2 {color: #7B1FA2;}
.PRIVMSG .c3 {color: #512DA8;}
.PRIVMSG .c4 {color: #303F9F;}
.PRIVMSG .c5 {color: #1976D2;}
.PRIVMSG .c6 {color: #0288D1;}
.PRIVMSG .c7 {color: #0097A7;}
.PRIVMSG .c8 {color: #00796B;}
.PRIVMSG .c9 {color: #388E3C;}
.PRIVMSG .c10 {color: #689F38;}
.PRIVMSG .c11 {color: #AFB42B;}
.PRIVMSG .c12 {color: #FBC02D;}
.PRIVMSG .c13 {color: #FFA000;}
.PRIVMSG .c14 {color: #F57C00;}
.PRIVMSG .c15 {color: #E64A19;}
.PRIVMSG .c16 {color: #5D4037;}
.PRIVMSG .c17 {color: #455A64;}

.white {color: #FFFFFF}
.black {color: #212121}
.blue {color: #2196F3}
.green {color: #4CAF50}
.red {color: #F44336}
.brown {color: #795548}
.purple {color: #9C27B0}
.orange {color: #FF9800}
.yellow {color: #FFEB3B}
.lime {color: #CDDC39}
.teal {color: #009688}
.cyan {color: #00BCD4}
.royal {color: #01579B}
.pink {color: #E91E63}
.grey {color: #9E9E9E}
.silver {color: #E0E0E0}

.b-white {background: #FFFFFF}
.b-black {background: #212121}
.b-blue {background: #2196F3}
.b-green {background: #4CAF50}
.b-red {background: #F44336}
.b-brown {background: #795548}
.b-purple {background: #9C27B0}
.b-orange {background: #FF9800}
.b-yellow {background: #FFEB3B}
.b-lime {background: #CDDC39}
.b-teal {background: #009688}
.b-cyan {background: #00BCD4}
.b-royal {background: #01579B}
.b-pink {background: #E91E63}
.b-grey {background: #9E9E9E}
.b-silver {background: #E0E0E0}
